

{% block title %}Hello PaiementController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <p>Votre pâiement a bien été effectué, vous allez etre rediriger vers nos produits.</p>
</div>
{% endblock %}
